* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #f2f1ec;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
}
.main {
  margin: 15% 0% 0% 40%;
  justify-content: space-between;
}
span {
  font-size: 15px;
  color: #1d4355;
}
input {
  border: none;
  border-radius: 8%;
  background-color: #365b6d;
  width: 160px;
  height: 30px;
  text-transform: capitalize;
  color:#f7f7f7 ;
  padding-left: 1%;
}
input::placeholder {
  color: #f7f7f7;
  padding: 10%;
}
.password {
  margin-top: 3%;
}
.username-text {
  padding-bottom: 100px;
}
button {
  background: linear-gradient(to top, #289dd2, #53786d, #289dd2, #41c1ba);
  border: none;
  margin-left: 100px;
  height: 30px;
  width: 100px;
  margin-top: 3%;
  padding: 1%;
  border-bottom: #1d4355 solid 2px;
  color: #092330;
  font-weight: 700;
}
.signup-button{
    margin-left: 0px;
}